body {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:4vmin;
    text-align:center;
    margin:100px;
}

.neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

p {
    margin:30px 100px;
    text-align:left;
}

a,a:hover {
    color:inherit;
    font:inherit;
}

.menu {
    text-align:center;
    margin-top:50px;
}

a {
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #7A7A7A;
    transition: color 1s;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
