@font-face { font-family: Pixel; src: url('../fonts/m5x7.ttf'); } 

a:link, a:visited, a:hover, a:active {text-decoration:none;}

h1,h2,p,a {
  margin: 0.1em auto;
}

body {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Pixel, sans-serif;
  font-size: 2em;
}

.main-content {
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 25%;
  background-color: #222034;
}

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../src/snow.gif');
  background-position: 0px 0px;
  background-size: 180px;
  background-attachment: fixed;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.box-pp {
  border: 5px dashed #161524;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #161524;
}

.pp-box {
  margin-top: 2%;
  margin-left: 10%;
  padding: 10px;
  background-color: #222034;
}

.hellow {
  width: 480px;
  margin-top: 2%;
  margin-left: 10%;
  background-color: #222034;
}

.text-head {
  display: block;
  overflow: auto;
  padding-top: 15%;
  padding-left: 20px;
}

.menu {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  clear: none;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9%;
}

.foot {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projects-mine {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  background-color: #222034;
}

.img-proj {
  display: block;
  max-width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 5px dashed #161524;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #161524;
}

.txt-proj {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.button-proj {
  display: block;
  width: 60%;
  height: 15%;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  border: 3px solid #4a2a41;
  border-radius: 10px;
  background-color: #45283c;
  box-shadow: 0 0 15px 0 #161524;
}

.w-list-unstyled {
  list-style: none;
}

.hellow {
  font-size: 1.6em;
}