@font-face { font-family: Pixel; src: url('../fonts/m5x7.ttf'); } 

a:link, a:visited, a:hover, a:active {text-decoration:none;}

h1,h2,p,a {
	margin: 0.1em auto;
}

* {
	list-style: none;
}

body {
	max-width: 100em;
	background-image: url('../src/snow.gif');
	background-repeat: repeat;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto 0 auto;
	font-family: Pixel, sans-serif;
	font-size: 2em;
}

a {
	color: #FFFFFF;
}

#header {
	float: left;
}

#pp {
	border-radius: 50%;
	height: 5em;
	width: auto;
	box-shadow: 0 0 0 0.3em #161524;
}

#ppbox {
	background-color: #222034;
	padding: 0.5em 0.6em 0.5em 0.5em;
}

.inline {
	display: inline-block;
}

.box {
	background-color: #222034;
	padding: 0 0.3em 0 0.3em;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.bold {
	font-weight: bold;
	font-size: 1.2em;
}

a .footer {
	padding-left: 1em;
}

a:hover {
	color: #CDCDCD;
	border-style: dotted;
	border-color: #FFFFFF;
	border-width: 0 0 3px 0;
	transition: color ease-in-out 1s, border-width ease-in 0.5s;
}

#footer .box {
	padding: 0 1em 0.3em 1em;
}

.tab .r {
	margin-left: 1.5em;
}

.tab .l {
	margin-left: 1em;
}

#header ul {
	text-align: center;
}

#header li {
	display: inline-block;
}

#header li h1 {
	box-sizing: content-box;
	margin-left: 1.3em;
}

#hellow {
	position: relative;
	top: -2.1em;
}

#footer {
	position: relative;
	top: 10px;

}

/*V2.0*/

main